<h1>Site Settings</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        &nbsp;
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5>Elevated Users &amp; Impersonation</h5>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a asp-controller="Settings" asp-action="Impersonate"><i class="fa-regular fa-user-secret"></i></a> <a asp-controller="Settings" asp-action="Impersonate">Impersonate Users</a></li>
                    <li class="list-group-item"><a asp-controller="Settings" asp-action="ManageAdmins"><i class="fa-regular fa-user"></i></a> <a asp-controller="Settings" asp-action="ManageAdmins">Elevated Users</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>



